local/templates/falmec/dist/base.html
<!DOCTYPE html >
<html lang="ru">
  <head> 
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>фото</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
  <link href="css/main.min.css" rel="stylesheet"></head>
  <body> 
    <div class="animate animate-bg"> 
      <header class="header">  
        <div class="container"> 
          <div class="header__wrapper"> 
            <div class="header__col header__col_logo"> <a class="header__icon" href="#">
                <svg class="icon-fluid">
                  <use xlink:href="/img/icons/icons.svg#icon-logo"> </use>
                </svg></a></div>
            <div class="header__col header__col_btn"> <a class="header__btn" href="#">Масштабный курс от школы фотографии sensei</a></div>
          </div>
        </div>
      </header>
      <section class="promo"> 
        <div class="container"> 
          <div class="promo__col">
            <h1 class="promo__title">Фотография:<br><span>от нуля до профи</span></h1><a class="button" href="#" id="btn__js">записаться на курс</a>
          </div>
        </div>
      </section>
      <div class="promo__img"> <img class="img-fluid" src="img/content/promo.png" alt=""/>
      </div>
    </div>
    <footer class="footer">
      <div class="container"> 
        <div class="footer__flex">
          <div class="footer__left"> 
            <div class="footer__name">ИП Мирошник Ярослав Александрович</div>
            <div class="footer__name">ИНН 771002248443 </div>
          </div>
          <div class="footer__right"> <a class="footer__link">Оферта</a><a class="footer__link">Политика конфиденциальности</a></div>
        </div>
      </div>
    </footer>
  <script src="js/main.bundle.js"></script><script src="js/icons.bundle.js"></script></body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

local/templates/falmec/src/pug/base.pug
include libs/mixins 

block meta 
    - var title = 'фото';

doctype html 
html(lang='ru')
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="keywords" content="")
        meta(name="description" content="")
        
    body 
        .animate.animate-bg 
            header.header   
                .container 
                    .header__wrapper 
                        .header__col.header__col_logo 
                            a.header__icon(href="#")
                                +icon('logo')
                        .header__col.header__col_btn 
                            a.header__btn(href="#") Масштабный курс от школы фотографии sensei
            section.promo 
                .container 
                    .promo__col
                        h1.promo__title Фотография:<br>
                            span от нуля до профи
                        a.button(href="#" id="btn__js") записаться на курс
            .promo__img 
                +image('content/promo.png')

        block wrapper       

        footer.footer
            .container  
                .footer__flex
                    .footer__left 
                        .footer__name ИП Мирошник Ярослав Александрович
                        .footer__name ИНН 771002248443 
                    .footer__right 
                        a.footer__link Оферта
                        a.footer__link Политика конфиденциальности

script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js") 
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js")
